Repository docker/docker-py, pull requests merged in 2023-02, with the labels that each got.

#3089 Add `one-shot` to container API `stats`
  docker/api/container.py
  tests/unit/api_container_test.py
Labels: kind/enhancement, group/api-upgrade, level/dockerclient

#3093 Add `status` parameter to services list API
  docker/api/service.py
  docker/models/services.py
  tests/integration/api_service_test.py
Labels: group/api-upgrade, level/apiclient

#3099 socket: fix for errors on pipe close in Windows
  docker/utils/socket.py
Labels: kind/bug
